@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&family=Moo+Lah+Lah&family=Press+Start+2P&family=Turret+Road:wght@200;700&family=Wallpoet&display=swap');

#game-page {
    text-align: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyd0nZ2SUQypSA3bgICJCMicjEH_afkiK1rA&usqp=CAU');
    background-size: cover;
}

#first-page {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyd0nZ2SUQypSA3bgICJCMicjEH_afkiK1rA&usqp=CAU');
    background-size: cover;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    color: rgb(0, 0, 0);
    border: 0.5px dashed black;
    border-radius: 20px;
    background-color: rgba(255, 192, 203, 0.75);
}

h2 {
    font-family: 'Monoton', cursive;
}

h3 {
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
    color: rgb(0, 0, 0);
    /* color: rgb(0, 255, 255); */
    border: 0.5px dashed black;
    border-radius: 20px;
    background-color: rgba(255, 192, 203, 0.75);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    background-color: rgba(255, 192, 203, .78);
    border: .5px dotted black;
    border-radius: 10px;
    padding: 6px;
}

.socials {
    font-family: 'Bungee Shade', cursive;
    display: inline;
    margin: 25px;
}


.flex-child-2 {
    position: absolute;
    left: 590px;
    bottom: 240px;
}

.flex-child-3 {
    /* flex: 3; */
    background-color: rgba(0, 255, 255, .5);
    border: 1px dashed black;
    border-radius: 20px;
    margin: 50px 25px;
    position: absolute;
    left: 300px;
    bottom: 120px;
}

.flex-child-4 {
    position: absolute;
    left: 580px;
    bottom: 130px;
}

.flex-child-5 {
    background-color: rgba(0, 255, 255, .5);
    border: 1px dashed black;
    border-radius: 20px;
    margin: 50px 25px;
    text-align: center;
    position: absolute;
    left: 440px;
    bottom: 10px;
}

#tama-game {
    position: absolute;
    left: 500px;
}

.flex-child-8 {
    position: absolute;
    left: 590px;
    top: 500px;
}

.flex-child-9 {
    background-color: rgba(0, 255, 255, .5);
    border: 1px dashed black;
    border-radius: 20px;
    margin: 50px 25px;
    text-align: center;
    position: absolute;
    left: 420px;
    bottom: 10px;
}

.tama-status {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    display: inline;
    align-items: center;
    margin: 25px;
}

.game-rules {
    font-family: 'Turret Road', cursive;
    background-color: rgba(0, 255, 255, .5);
    border: 1px dashed black;
    border-radius: 20px;
    position: absolute;
    display: inline;
}

#tama-gifs img {
    width: 250px;
    height: 250px;
}

#tama-gifs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-child-10 {
    background-color: rgba(0, 255, 255, .5);
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
    padding: 10px 25px;
    border: 1px dashed rgba(0, 255, 255, .5);
    border-radius: 30px;
    position: absolute;
    left: 500px;
    bottom: 1px;
}

.tama-button {
    margin: 20px 10px 40px 10px;
}