#tama-gifs img {
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}

#tama-gifs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tama-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #firstpg-bg {
    background-image: url('https://media4.giphy.com/media/eZsKqkZUEM5vG/giphy.gif?cid=ecf05e47r5d18g66l2d3uxxu33yyp15awd1cpwxdlf1yglxk&rid=giphy.gif&ct=g');
    background-size: cover;
} */